body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
/*Header design*/
.main-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 50px;
  margin-bottom: 30px;
}
.main-header img {
  width: 100px;
  height: 50px;
  padding-top: 40px;
  padding-left: 20px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 250px;
  height: 50px;
  margin-right: 100px;
}
nav a {
  padding: 40px 40px 0 40px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}
nav a:hover {
  border-top: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
.description__container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
h1 {
  font-size: 25px;
  font-weight: 700;
  font-style: bold;
  line-height: 0.4;
}
h2 {
  font-size: 18px;
  font-weight: 500;
}
form {
  display: flex;
  flex-direction: row;
}
.form__location--box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  width: 55px;
  height: 55px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.form__location--icone {
  font-size: 18px;
}
input[name="search"] {
  flex-basis: 14%;
  border: none;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
input[name="search"]:focus {
  outline: none;
}
input[name="search"]:focus,
input[name="search"]::placeholder {
  opacity: 1;
  color: black;
  font-weight: 800;
  padding-left: 20px;
  font-size: 18px;
}
.searchform__submit--desktop {
  flex-basis: 8%;
  background: var(--secondary-color);
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}
.searchform__submit--mobile {
  display: none;
}
.filter__container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  margin-left: 50px;
  margin-top: 30px;
}
.filter__container h2 {
  font-size: 18px;
  font-weight: 800;
}
.filter__element--content {
  display: flex;
  align-items: center;
  padding-right: 20px;
  border: 2px solid var(--primary-color);
  border-left: 0;
  border-radius: 30px;
  height: 50px;

  transition: 1s;
}
.filter__element--content:hover {
  background: var(--tertiary-color);
  color: grey;
}
.filter__icone--box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--tertiary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.filter__element--icone {
  font-size: 18px;
  color: var(--secondary-color);
}
.filter__element--text {
  font-size: 18px;
  font-weight: 800;
  padding-left: 15px;
}
.information__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
  margin-top: 25px;
}
.information__icone-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.information__icone-box i {
  font-size: 14px;
  font-weight: 800;
  color: var(--secondary-color);
}
.information__container p {
  font-size: 18px;
  font-weight: 500;
}
/* Main design*/
.hotel__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
}
.hotel__list,
.hotel__mostpopular--box {
  display: flex;
  background: var(--primary-color);
  border-radius: 20px;
}
.hotel__list {
  flex: 0 0 66%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.hotel__list header {
  flex: 0 1 100%;
}
.hotel__list header h2,
.hotel__mostpopular--box header h2 {
  font-size: 22px;
  font-weight: 800;
  margin-top: 40px;
  margin-left: 40px;
}
.hotel__card--container {
  flex: 0 0 30%;
  height: fit-content;
  border-radius: 20px;
}
.hotel__card--container > * figure {
  margin: 0;
  padding: 5px;
}
.hotel__card--container > * figure img {
  width: 100%;
  height: 146px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.hotel__card--container > * figcaption * {
  /*Reset because the normalizer add a margin/padding to title and p*/
  margin: 0;
  padding: 0;
}
.hotel__card--container > * figcaption {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  padding-left: 20px;
}
.hotel__showmore--link {
  flex: 0 1 100%;
}
.hotel__mostpopular--box {
  flex: 0 0 30%;
  flex-direction: column;
  justify-content: space-around;
}
.hotel__mostpopular--box header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotel__mostpopular--box > article {
  background: white;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 20px;
}
.hotel__mostpopular--box > header i {
  font-size: 22px;
  font-weight: 800;
  padding-top: 20px;
  padding-right: 50px;
}
.hotel__mostpopular--box > * img {
  height: 146px;
  object-fit: cover;
  overflow-y: hidden;
  width: 146px;
  padding: 5px;
  border-radius: 20px 0 0 20px;
}
.hotel__mostpopular--box figure {
  display: flex;
  justify-content: stretch;
  gap: 20px;
  margin: 0;
}
.hotel__mostpopular--box figure .host--star-container {
  align-self: flex-end;
}
.card--animation {
  transition: 0.3s;
}
.card--animation:hover {
  transform: scale(1.02);
}
.card--shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.host__star--inactive {
  color: #d3d3d3;
}
.host__star--active,
.host__star--inactive:hover {
  color: var(--secondary-color);
}
/* Footer design*/
