* {
  font-size: var(--main-font-size);
  box-sizing: border-box;
  color: #000000;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}
body {
  background-color: #ffff;
}
header,
main,
footer {
  width: 100%;
}
footer {
  height: 100px;
}
header {
  display: flex;
  justify-content: space-between;
  top: 0;
  margin-bottom: 20px;
}
.description--container > header {
  flex-direction: column;
}
header img {
  position: relative;
  top: 30px;
  width: 90px;
  height: 40px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 250px;
  height: 50px;
}
nav a {
  padding: 50px 40px 0 40px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
nav a:hover {
  border-top: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
main {
  display: flex;
  flex-direction: column;
}
figure {
  margin: 0;
}
main > section {
  margin-top: 20px;
}
h1 {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
}
h2 {
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
}
strong {
  font-weight: 700;
}
main > section header {
  padding: 0; /*Reset padding*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}
footer {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  background: var(--primary-color);
  padding-right: 30%;
  padding-left: 2%;
}
.main-header {
  padding-top: 0;
  padding-right: 3%;
  padding-left: calc(var(--layout-margin) + 25px);
  margin-bottom: calc(var(--layout-margin) - 25px);
}
.description--container,
.filter--container,
.information--container {
  margin-left: var(--layout-margin);
}
form > * {
  margin: 0;
  padding: 0;
  margin-right: -7px;
  height: var(--searchbar-height);
  border: none;
}
section form button {
  width: var(--searchbar-height);
  border-radius: var(--search-border-radius-size) 0px 0px
    var(--search-border-radius-size);
}
section form input {
  border-radius: 0;
  background-color: #ffff;
  padding-left: 20px;
  color: var(--searchbar-color);
  font-size: calc(3px + var(--default-font-size));
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
section form input:focus {
  outline: none;
}
section form input::placeholder {
  color: var(--searchbar-color);
  opacity: 1;
  font-weight: 700;
}
section form button[type="submit"] {
  width: 120px;
  font-size: calc(1px + var(--default-font-size));
  font-weight: 800;
  color: white;
  border-radius: 0px var(--search-border-radius-size)
    var(--search-border-radius-size) 0px;
  background-color: var(--secondary-color);
}
section form input[name="search"] {
  width: 180px;
}
.searchform--mobile-submit {
  display: none;
}
.searchform--desktop-submit {
  display: inline;
}

.filter--container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
.filter--container h2 {
  margin-right: 10px;
  font-weight: 700;
}
.filter--box {
  color: #000000;
  text-decoration: none;
  margin: 0 0.5%;
  height: var(--filter-height);
}
.filter--content {
  border: 2px solid var(--primary-color);
  border-radius: 25px;
  display: inline-flex;
  font-weight: bold;
  transition: 0.5s;
  width: max-content;
  height: var(--filter-height);
}
.filter--content:hover {
  background-color: var(--tertiary-color);
}
.filter--text {
  display: block;
  margin: auto 20px;
  text-align: center;
}
.filter--icone {
  background: var(--tertiary-color);
  border-radius: 50%;
  color: var(--secondary-color);
  height: var(--filter-height);
  margin: -2px;
  padding: 10px;
  text-align: center;
  width: var(--filter-icone-width);
}

.information--container {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}
.information--container p {
  margin-top: 8px;
  margin-left: 10px;
  font-weight: 400;
}
.information--container i {
  color: var(--secondary-color);
}
.information--icone-box {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding-top: 5px;
  padding-left: 12px;
}
.host--container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: calc(var(--layout-margin) / 2);
  margin-bottom: calc(var(--layout-margin) / 2);
  margin-left: var(--layout-margin);
  margin-right: var(--layout-margin);
}
.host--container > * {
  background: var(--primary-color);
  border-radius: 20px;
  padding: 40px;
}
.host--content {
  padding: 0;
}
.host--content h2 {
  padding: 40px;
  padding-bottom: 0px;
}
.host--content > * {
  padding-left: 0;
  padding-right: 0;
}
.host--more-link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  flex: 0 1 90%;
}
.host--container > * h2 {
  font-size: 20px;
  font-weight: 700;
}
.host--content,
.host--mostpopular-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.host--content {
  flex: 0 1 63%;
  flex-direction: row;
}
.host--content header {
  flex: 0 1 100%;
}
.host--mostpopular-box {
  flex: 0 1 37%;
  flex-direction: column;
}
.host--mostpopular-box header {
  justify-content: space-between;
}
.host--mostpopular-box > article figure {
  display: flex;
  flex-direction: row;
}
.host--content > article {
  flex: 0 1 27%;
  flex-direction: column;
  border-radius: var(--card-border-radius-size);
}

.host--content > article,
.host--mostpopular-box > article {
  border: 1px solid var(--primary-color);
  background: #ffff;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: var(--card-border-radius-size);
}
.host--content > article:hover,
.host--mostpopular-box > article:hover {
  transform: scale(1.05);
}
.host--content > article img,
.host--mostpopular-box > article img {
  height: var(--card-image-height);
  width: 100%;
  object-fit: cover;
  padding: 5px;
}
.host--content > article img {
  border-radius: var(--card-figure-border-radius-size)
    var(--card-figure-border-radius-size) 0px 0px;
}
.host--mostpopular-box > article img {
  flex: 0 1 100%;
  min-width: 40%;
  border-radius: var(--card-figure-border-radius-size) 0px 0px
    var(--card-figure-border-radius-size);
}
.host--content > article figcaption {
  padding: 5px;
  line-height: 1.4;
}
.host--mostpopular-box > article figcaption {
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
  flex-direction: column;
  flex: 0 1 100%;
  padding: 10px;
}
.host--content > article figcaption h3,
.host--mostpopular-box > article figcaption h3 {
  font-size: var(--figcaption-title-font-size);
  font-weight: var(--figcaption-title-font-weight);
}
.host--content > article figcaption p,
.host--content > article figcaption i,
.host--mostpopular-box > article figcaption p,
.host--mostpopular-box > article figcaption i {
  font-size: var(--figcaption-content-font-size);
}
.host--mostpopular-box > article figcaption p {
  margin-top: -45px;
}
.host--star-inactive {
  color: var(--primary-color);
}
.host--star-active,
.host--star-inactive:hover {
  color: var(--secondary-color);
}
.host--star-container {
  align-self: flex-start;
}
