body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
/*Header design*/
.main-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 50px;
}
.main-header img {
  width: 100px;
  height: 50px;
  padding-top: 20px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 250px;
  height: 50px;
  margin-right: 100px;
}
nav a {
  padding: 30px 40px 0 40px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}
nav a:hover {
  border-top: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
.description__container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
h1 {
  font-size: 25px;
  font-weight: 700;
  font-style: bold;
  line-height: 0.4;
}
h2 {
  font-size: 18px;
  font-weight: 500;
}
form {
  display: flex;
  flex-direction: row;
}
.form__location--box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  width: 50px;
  height: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.form__location--icone {
  font-size: 18px;
}
input[name="search"] {
  flex-basis: 14%;
  border: none;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
input[name="search"]:focus {
  outline: none;
}
input[name="search"]::placeholder {
  opacity: 1;
  color: black;
  font-weight: 700;
  padding-left: 15px;
  font-size: 18px;
}
.searchform__submit--desktop {
  flex-basis: 9%;
  background: var(--secondary-color);
  border: none;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}
.searchform__submit--mobile {
  display: none;
}
/* Main design*/

/* Footer design*/

.host__star--inactive {
  color: var(--primary-color);
}
.host__star--active,
.host__star--inactive:hover {
  color: var(--secondary-color);
}
