* {
  font-family: "Railway", sans-serif;
  font-size: var(--main-font-size);
  box-sizing: border-box;
  color: #000000;
}
html,
body {
  margin: 0;
  padding: 0 3%;
}
body {
  background-color: var(--primary-color);
}
header,
main,
footer {
  width: 100%;
}
footer {
  height: 100px;
}
/*Breakpoint for laptop*/
@media screen and (max-width: 992px) {
  body {
    padding: 0;
  }
}
/*Breakpoint for mobile*/
@media screen and (max-width: 768px) {
  html,
  body {
    padding: 0;
  }
}
