/*Breakpoint for laptop*/
@media screen and (max-width: 992px) {
    form{
        margin-top: 20px;
        justify-content: center;
    }
    .filter__container{
        flex-wrap: wrap;
        width: auto;
        gap: 10px;
        justify-content: space-around;
    }
    .filter__container h2{
        flex: 100%;
    }
    .filter__element--content{
        height: 40px;
    }
    .filter__element--text{
        font-size: 12px;
    }
    .filter__icone--box{
        width: 40px;
        height: 40px;
    }
    main{
        width: 100%;
      }
    .hotel__wrapper{
        flex-direction: column;
        margin: 0;
        padding: 5px;
    }
    .hotel__list{
        gap: 40px;
        padding: 30px;
    }
    .hotel__card--container{
        flex: 1 1 45%;
    }
    .hotel__mostpopular--box{
        order: -1;
    }
    .hotel__mostpopular--list{
        gap: 10px;
    }
    .activities__list{
        flex-wrap: wrap;
    }
    .activities__box{
        flex: 1 1 45%;
    }
    .activities__list :nth-child(3n){
        order: 1;
    }
}
