form > * {
  margin: 0;
  padding: 0;
  margin-right: -7px;
  height: var(--searchbar-height);
  border: none;
}
main section form button {
  width: var(--searchbar-height);
  border-radius: var(--search-border-radius-size) 0px 0px
    var(--search-border-radius-size);
}
main section form input {
  border-radius: 0;
  background-color: #FFFF;
  padding-left: 20px;
  color: var(--searchbar-color);
  font-size: calc(3px + var(--default-font-size));
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
main section form input:focus {
  outline: none;
}
main section form input::placeholder {
  color: var(--searchbar-color);
  opacity: 0.8;
  font-weight: 700;
}
main section form button[type="submit"] {
  width: 120px;
  font-size: calc(1px + var(--default-font-size));
  font-weight: 800;
  color: white;
  border-radius: 0px var(--search-border-radius-size)
    var(--search-border-radius-size) 0px;
  background-color: var(--secondary-color);
}
main section form input[name="search"]{
  width: 180px;
}
.searchform--mobile-submit{
  display: none;
}
.searchform--desktop-submit{
  display: inline;
}
/*Breakpoint for laptop*/
@media screen and (max-width: 992px) {
}
/*Breakpoint for mobile*/
@media screen and (max-width: 768px) {
  main section form button[name="mobile-submit"]{
    width: 50px;
    height: var(--searchbar-height);
    border-radius: var(--search-border-radius-size);
    display: inline;
  }
  .searchform--mobile-submit i{
    color: white;
    font-size: 14px;
  }
  .searchform--desktop-submit{
    display: none;
  }
}