* {
  --primary-color: #f2f2f2;
  --secondary-color: #0065fc;
  --tertiary-color: #deebff;

  --layout-margin: 50px;

  --default-font-size: 12px;
  --title-font-size: 17px;
  --title-font-weight: 700;
  --subtitle-font-size: 15px;
  --subtitle-font-weight: 400;

  --search-border-radius-size: 15px;
  --searchbar-height: 50px;
  --searchbar-color: black;

  --filter-height: 40px;
  --filter-icone-width: 40px;

  --card-border-radius-size: 20px;
  --card-figure-border-radius-size: 20px;
  --card-image-height: 146px;

  --figcaption-content-font-size: 13px;
  --figcaption-title-font-size: 15px;
  --figcaption-title-font-weight: 700;

  /*Only for debug*/
  --debug-border: 1px solid red;
}
