* {
  --primary-color: #F2F2F2;
  --secondary-color: #0065FC;
  --tertiary-color: #DEEBFF;

  --default-font-size: 12px;
  --title-font-size: 17px;
  --title-font-weight: 700;
  --subtitle-font-size: 15px;
  --subtitle-font-weight: 400;

  --search-border-radius-size: 15px;
  --searchbar-height: 50px;
  --searchbar-color: black;

  --filter-height: 40px;
  --filter-icone-width: 40px;

  /*Only for debug*/
  --debug-border: 1px solid red;
}
