#activities {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  background-color: #ffff;
  margin-top: 5%;
  margin-bottom: 5%;
}
.activities--wrapper {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  height: 450px;
}
.activities--content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 25%;
  max-width: 25%;
  height: 450px;
  padding: 15px;
}
