#activities {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 352px;
  background-color: #ffff;
  margin-top: 5%;
  margin-bottom: 5%;
}
.activities--wrapper {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  height: 100%;
  gap: 45px;
  border: 1px solid green;
}
.activities--content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 33%;
  max-width: 33%;
  height: 100%;
  border: 1px solid red;
  gap: 45px;
}
