header {
  display: flex;
  justify-content: space-between;
  top: 0;
  margin-bottom: 20px;
}
header img {
  position: relative;
  top: 30px;
  width: 90px;
  height: 40px;
}
/*Breakpoint for laptop*/
@media screen and (max-width: 992px) {
}
/*Breakpoint for mobile*/
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  header img {
    top: 0;
    gap: 10px;
  }
}
