#hosting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  gap: 50px;
}
#hosting > * {
  border-radius: 15px;
}
.hosting--container {
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  width: 66%;
  height: 600px;
}

.mostpopular--container {
  width: 33%;
  background: var(--primary-color);
}
/*Breakpoint for laptop*/
@media screen and (max-width: 992px) {
  #hosting {
    flex-direction: column-reverse;
  }
  .hosting--container,
  .mostpopular--container {
    width: 100%;
    height: auto;
  }
}
/*Breakpoint for mobile*/
@media screen and (max-width: 768px) {
  .hosting--container {
    background: #ffff;
  }
}
