.activities--header > h2 {
  font-size: 20px;
  font-weight: bold;
}
.activity--card-large {
  width: 100%;
  height: 100%;
}
.activity--card-small {
  height: 33%;
}
.activity--card-medium {
  height: 50%;
  flex-grow: 2;
  margin-bottom: 15px;
}
.activity--card-large,
.activity--card-medium,
.activity--card-small {
  transition: 0.25s;
  cursor: pointer;
  background: #ffff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}
.activity--card-large:hover,
.activity--card-medium:hover,
.activity--card-small:hover {
  transform: scale(1.05);
}
.activity--card-large figure,
.activity--card-medium figure,
.activity--card-small figure {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.activity--card-large figure img,
.activity--card-medium figure img,
.activity--card-small figure img {
  object-fit: cover;
  width: 100%;
  height: 90%;
  border-radius: 20px 20px 0px 0px;
  justify-content: center;
  align-items: center;
}
.activity--card-large figure figcaption,
.activity--card-medium figure figcaption,
.activity--card-small figure figcaption {
  height: 56px;
  font-size: 15;
  font-weight: 600;
}
.activity--card-large a,
.activity--card-medium a,
.activity--card-small a {
  height: auto;
  width: auto;
  display: contents;
}
