.hosting--container a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 800;
  margin-left: 44px;
  margin-top: 20px;
}
.hosting--card {
  width: 33%;
  max-width: 246px;
  height: 200px;
}
.mostpopular--card {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
}
.hosting--card,
.mostpopular--card {
  transition: 0.25s;
  cursor: pointer;
  background: #ffff;
  border-radius: 10px;
  margin: 8px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.hosting--card:hover,
.mostpopular--card:hover {
  transform: scale(1.05);
}
.hosting--card-wrapper,
.mostpopular--card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.hosting--card-wrapper a,
.mostpopular--card-wrapper a {
  text-decoration: none;
}
.hosting--card-wrapper a {
  height: auto;
  width: auto;
  display: contents;
}
.hosting--card-wrapper ul,
.mostpopular--card-wrapper ul {
  display: flex;
}
.hosting--card-figure {
  height: 120px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.hosting--card-figure img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  padding: 2px;
}
.hosting--card figcaption,
.mostpopular--card figcaption {
  margin: 10px;
}
.hosting--card figcaption > *,
.mostpopular--card figcaption > * {
  padding: 2px;
  font-size: 13px;
}
.hosting--card figcaption > *:first-child,
.mostpopular--card figcaption > *:first-child {
  /*Target all card titles*/
  font-weight: bold;
  font-size: 15px;
}
.card--star-active {
  color: var(--secondary-color);
}
.card--star-inactive {
  color: var(--primary-color);
  transition: 0.5s;
}
.card--star-inactive:hover {
  color: var(--secondary-color);
}
.mostpopular--card {
  border-radius: 20px;
}
.mostpopular--container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mostpopular--container header > *,
.hosting--container header > * {
  font-size: 20px;
  font-weight: 700;
  margin: 20px;
  margin-top: 30px;
}
.mostpopular--card-figure {
  display: flex;
  object-fit: cover;
  margin-top: 2px;
  margin-left: 2px;
}
.mostpopular--card-figure img {
  width: 132px;
  height: 139px;
  border-radius: 20px 0 0px 20px;
  object-fit: cover;
  padding: 5px;
}
.mostpopular--card figcaption p {
  margin-top: 10px;
}
.mostpopular--card figcaption ul {
  margin-top: 50px;
}
/*Breakpoint for laptop*/
@media screen and (max-width: 992px) {
}
/*Breakpoint for mobile*/
@media screen and (max-width: 768px) {
  .hosting--card-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .hosting--card {
    width: 100%;
    max-width: 100%;
  }
}
